$background: #0f0f0f;
$foreground: #f0f0f0;

$green: #8aac8b;
$lightgreen: #9ec49f;
$yellow: #aca98a;
$lightyellow: #c4c19e;
$red: #ac8a8c;
$lightred: #c49ea0;
$blue: #8f8aac;
$lightblue: #a39ec4;
$magenta: #ac8aac;
$lightmagenta: #c49ec4;
$cyan: #8aabac;
$lightcyan: #9ec3c4;
$black: #262626;
$lightblack: #4c4c4c;
